@font-face {
  font-family: 'MinSansVF';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./styles/fonts/MinSansVF.woff2') format('woff2');
}
@font-face {
  font-family: 'MinSansVF';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./styles/fonts/MinSansVF.woff2') format('woff2');
}
@font-face {
  font-family: 'MinSansVF';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./styles/fonts/MinSansVF.woff2') format('woff2');
}
@font-face {
  font-family: 'MinSansVF';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./styles/fonts/MinSansVF.woff2') format('woff2');
}
@font-face {
  font-family: 'MinSansVF';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('./styles/fonts/MinSansVF.woff2') format('woff2');
}
