@font-face {
  font-family: 'MinSansVF';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('./styles/fonts/MinSansVF.woff2') format('woff2-variations');
}

* ::-webkit-scrollbar {
  display: none;
}
* ::-webkit-scrollbar-track {
  display: none;
}
* ::-webkit-scrollbar-thumb {
  display: none;
}
